body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: linear-gradient(
    109.6deg,
    rgb(253, 223, 168) 11.2%,
    rgb(233, 177, 240) 100.2%
  );

  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  margin-top: 50px;
  text-align: center;
  margin: 80px auto;
}
h2 {
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;

  margin: 0px 40px 15px 40px;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 25px;

  margin: 0px 40px 15px 0px;
}

p {
  margin-bottom: 5px;
}

.Listen {
  color: rgb(240, 165, 25);
  text-decoration: none;
  font-weight: bold;
}

.Github {
  font-weight: bold;
  color: rgb(255, 166, 0);
  text-decoration: none;
}

footer {
  color: white;
  display: block;
  text-align: center;
  margin: 70px auto 50px auto;
  font-family: "Courier New", Courier, monospace;
}

.Search {
  display: inline;
  border-radius: 15px;
  border-width: 2px;
  border: 2px solid;
  padding: 3px 10px;
}

.SearchEngine {
  display: block;
  text-align: center;
  margin: 20px auto 0px auto;
}

.btn {
  font-family: "Courier New", Courier, monospace;
  display: inline;
  padding: 5px 25px 5px 25px;
  margin-left: 20px;

  text-align: center;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: rgb(253, 223, 168);
  border: 1px solid rgb(255, 215, 140);
  color: black;
}

.Meaning {
  margin: 10px 40px 10px 40px;
}

.Section {
  display: block;
  padding: 35px;
  margin: 25px auto 25px auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  max-width: 800px;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.12);
}

.Phonetic {
  margin: 0 40px;
  font-size: s24px;
}

.Listen {
  position: relative;
  top: -5px;
  display: inline-block;
  margin: 5px auto 30px 10px;
  text-align: left;
  padding: 5px 13px 5px 13px;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 215, 140);
}

.Highlight {
  font-family: "Times New Roman", Times, serif;
}

.Synonyms {
  margin-bottom: 50px;
}
.Question {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Courier New", Courier, monospace;
}

.Example {
  font-size: smaller;
}

#example {
  font-style: italic;
  color: gray;
}
